include mixins.pug
doctype html
html(lang="ko-KR")
  head 
    block head
      title #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:title" content=title)
    meta(name="description" content=description)
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://gogoro.kr")
    meta(property="og:image" content="/title.jpg")
    meta(name="theme-color" content="#fafafa")
    link(rel="icon" type="image/icon" href="/favicon.ico")
    link(rel="icon" type="image/png" href="/BB_icon.png")
    link(rel="apple-touch-icon" href="/BB_icon.png")
    block styles
    link(rel="stylesheet" href="/sources/normalize.css")
    link(rel="stylesheet" href=require("../sass/style.scss"))
    block head-script
  body
    block nav
      +navTheme('white')
    #app
      block contents
    block footer
    script(src="/sources/modernizr-3.11.2.min.js")
    script(src="/assets/js/main.js")
    if isDev
      script(src=require("../scripts/dummy.ts"))
    block page-script
    footer
      .footer-inner
        img#footer-logo(src=require("../images/logo.svg"))
        .footer-flex
          div 
            .t1 스마트 스쿠터
            .list
              a.link 고고로 S2 
              a.link 고고로 2 플러스 
              a.link 고고로 2 유틸리티 
              a.link 고고로 비바
          div 
            .t1 고고로 네트워크
            .list
              a.link 스마트 플랫폼
              a.link 고스테이션 위치
              a.link 요금 플랜
          div 
            .t1 최신소식
            .list
              a.link 새소식
              a.link 프로모션
          div 
            .t1 고객지원
            .list
              a.link 고객센터
              a.link 자주묻는질문