extends ../../../includes/layout.pug

block styles
  link(rel="stylesheet" href=require("../../../../node_modules/swiper/swiper-bundle.min.css"))
  link(rel="stylesheet" href=require("../../../sass/s2.scss"))

block nav
  +navTheme('black')

block contents
  .s2-one(style={"background-image":`url(${require("../../../images/scooter/s2/s2_1.png")})`})
    .text-box
      .sub 초월하기 위해 태어났다
      .t1 고고로 S2
  .s2-two(style={"background-image":`url(${require("../../../images/scooter/s2/s2_2.png")})`})
  .s2-three(style={"background-image":`url(${require("../../../images/scooter/s2/s2_3.png")})`})
    .text-box
      .t1 번개처럼 빠르다
      .sub 수많은 디테일은 오직 라이더의 궁극적인 성능에 대한 갈망을 실현합니다.#[br]유려하고 날렵한 체감은 모두가 놀라움을 자아내며 새로운 기준이 될 것입니다.
      .spec-box
        div
          .top
            .point 3.7
            .unit 초
          .bottom 0-50 KM/H#[br]직선가속
        div
          .top
            .point 7.2
            .unit kW @#[br]5,000 rpm
          .bottom 효율적인 모터 출력
        div
          .top
            .point 202
            .unit NM#[br]토크
          .bottom 강한토크
  .s2-four(style={"background-image":`url(${require("../../../images/scooter/s2/s2_4.png")})`})
  .s2-five(style={"background-image":`url(${require("../../../images/scooter/s2/s2_5.png")})`})
  .s2-six(style={"background-color":"#000000","background-image":`url(${require("../../../images/scooter/s2/s2_6.png")})`})
    .text-box
      .t1 단순함이 복잡함을 이긴다
      .sub 날카로운 각도를 제거하고 바람 저항이 없는 라인을 만듭니다.#[br]단순하지만 디테일한 독창성으로#[br]상상을 초월하는 아름다운 여정을 만드십시오.
    .system-column
      .system-row
        div.black(style={"background-image":`url(${require("../../../images/scooter/s2/s2_6_1.png")})`})
        div
          .text-box
            .t1 BOSCH ABS 브레이크 시스템
            .sub BOSCH ABS 10 시스템은#[br]프론트 및 리어 휠을 모니터링합니다.#[br]휠 잠금이 임박한 것을 방지하기 위해#[br]초당 200회의 주파수로 작동해야 합니다.
      .system-row
        div
          .text-box
            .t1 유선형 테일 안장
            .sub 가속이든 코너링이든 고급 드라이빙을 위해#[br]라이더의 몸을 더욱 안정적이고#[br]편안하게 지지하여 주행할 수 있도록 합니다.
        div.black(style={"background-image":`url(${require("../../../images/scooter/s2/s2_6_2.png")})`})
      .system-row
        div.black(style={"background-image":`url(${require("../../../images/scooter/s2/s2_6_3.png")})`})
        div
          .text-box
            .t1 똑똑한 경험
            .sub 고고로의 iQ 시스템은 무선으로#[br]최신 상태를 유지하여 최신 스마트 기능과#[br]성능 알고리즘에 액세스할 수 있습니다.
      .system-row
        div
          .text-box
            .t1 댐핑 조절 가능한 프론트 및 리어 서스펜션 시스템
            .sub 대구경, 고강도 프론트 서스펜션 시스템은#[br]고속 주행 시 바닥면의 요철을 완벽하게 흡수합니다.#[br]업그레이드된 프론트 및 리어 댐핑 조절이 가능해#[br]각 도로의 도전이 더욱 매력적입니다.
        div.black(style={"background-image":`url(${require("../../../images/scooter/s2/s2_6_4.png")})`})
  .s2-seven
    -
      var motors = [
        {url:"../../../images/scooter/m1.png", label:"고고로 S2", link: "/scooter/s2"},
        {url:"../../../images/scooter/m2.png", label:"고고로 S2 플러스", link: "/scooter/s2"},
        {url:"../../../images/scooter/m3.png", label:"고고로 2 유틸리티", link: "/scooter/s2"},
        {url:"../../../images/scooter/m4.png", label:"고고로 VIVA", link: "/scooter/s2"}
      ];
  .motors-wrapper
    div.swiper-motors
      div.swiper-wrapper
        each val, index in motors
          div.swiper-slide 
            a(href=val.link)
              img.img-box(src=require(val.url))
              .b1=val.label
      .swiper-pagination

block page-script
  script(type="module" src=require("../../../scripts/s2-slider.ts"))