extends ../../includes/layout.pug

mixin scooterPageSlider(clName, listArr, title, contents, last=false)
  div(class=`describe-wrapper-${clName} describe-wrapper${last?' last':''}`)
    .describe-title
      .t1=title
      .sub=contents
    div(class=`swiper-describe-${clName} swiper-box`)
      button.slide-control-btn.prev
        img(src=require("../../images/prev_arrow.svg"))
      button.slide-control-btn.next
        img(src=require("../../images/next_arrow.svg"))
      div.swiper-wrapper
        each val, index in listArr
          div.swiper-slide 
            .img-box(style={"background-image":`url(${require(val.url)})`})
            //- img(src=require(val.url))
            .text-box
              .t1=val.title
              .sub=val.sub

block styles
  link(rel="stylesheet" href=require("../../../node_modules/swiper/swiper-bundle.min.css"))
  link(rel="stylesheet" href=require("../../sass/scooter.scss"))

block contents
  -
    var motors = [
      {url:"../../images/scooter/m1.png", label:"고고로 S2", link: "/scooter/s2"},
      {url:"../../images/scooter/m2.png", label:"고고로 S2 플러스", link: "/scooter/series"},
      {url:"../../images/scooter/m3.png", label:"고고로 2 유틸리티", link: "/scooter/series"},
      {url:"../../images/scooter/m4.png", label:"고고로 VIVA", link: "/scooter/viva"}
    ];
  -
    var describesOne = [
      {url:"../../images/scooter/img-scooter-slide1-photo1.png", title:"도난을 두려워하지 않는 도난 방지", sub: "스마트 배터리에 연결되어 있는 계정으로 휴대폰의 얼굴 인식 및 암호화 된 디지털 키 카드는 차량에 대한 높은 수준의 도난방지 보호 기능을 제공합니다."},
      {url:"../../images/scooter/img-scooter-slide1-photo2-eng.png", title:"제어하기 쉬운 앱", sub: "모바일 앱으로 더욱 편리하고 직관적인 라이딩이 가능합니다. 크든 작든 여행은 당신의 통제하에 있습니다."},
      {url:"../../images/scooter/img-scooter-slide1-photo3.jpeg", title:"지속적인 업데이트", sub: "Gogoro IQ 지능형 시스템을 통해 차량은 계속해서 진화하고 주행 경험은 최적화됩니다."},
    ];
  -
    var describesTwo = [
      {url:"../../images/scooter/img-scooter-slide2-photo1.png", title:"교체를 위해 이동", sub: "줄을 설 필요가 없고, 매연이 없고, 계산을 기다리지 않고, 몇 초 만에 배터리를 교체할 수 있습니다."},
      {url:"../../images/scooter/img-scooter-slide2-photo2.png", title:"유도 잠금 해제", sub: "열쇠 고리를 터치하거나 스마트폰을 눌러 무선으로 잠금을 해제하고 자동차의 절전 모드를 해제하세요."},
      {url:"../../images/scooter/img-scooter-slide2-photo3.jpeg", title:"후진 어시스트", sub: "버튼을 누르면 전자식 후진 기능을 사용할 수 있습니다. 붐비는 주차공간에서 자유롭게 빠져나올 수 있습니다."},
    ];
  -
    var describesThree = [
      {url:"../../images/scooter/img-scooter-slide3-photo1.png", title:"도시를 넘어 국경을 넘어", sub: "도시 속 출퇴근과 주변 탐험을 완벽한 에너지 네트워크와 탁월한 지구력으로 더 먼 곳으로 이동할 수 있도록 지원합니다."},
      {url:"../../images/scooter/img-scooter-slide3-photo2.png", title:"빠른 것보다", sub: "원하는 출력을 자유롭게 설정하고, 차량의 속도를 해제하여 즉시 적용하여 도시 전역을 여행할 수 있습니다. 이 모든 것을 자유롭게 제어할 수 있습니다."},
      {url:"../../images/scooter/img-scooter-slide3-photo3.jpeg", title:"안전이 최우선", sub: "풀 LED 라이트, SBS/ABS 프론트 및 리어 디스크 브레이크, 내장된 차량 진단 시스템을 통해 안전성을 제공합니다."},
    ];
  .motors-wrapper
    div.swiper-motors
      div.swiper-wrapper
        each val, index in motors
          div.swiper-slide 
            a(href=val.link)
              img.img-box(src=require(val.url))
              .b1=val.label
  .scooter-one(style={"background-image": `url(${require("../../images/scooter/img-scooter-home-banner.png")})`})
    .text-box
      .sub 고고로 스마트 스쿠터
      .t1 비교할 수 없는
      .des 혁신적인 디자인과 생각으로 만드는 모빌리티를 경험하세요.#[br]Smartscooter® 스마트 전기 스쿠터, 디지털 주행의 시대를 여기에서 시작하세요.
  +scooterPageSlider('one', describesOne, "똑똑한, 표준적인", "디지털 업그레이드를 통해 당신의 차를 더 새롭고 더 똑똑하게 만들고, 스마트 기술과 결합하여 더 강력한 안전 기능과 맞춤형 설정을 제공합니다.")
  +scooterPageSlider('two', describesTwo, "간단하고 직관적이어서\n누구나 할 수 있습니다.", "차량의 모든면에서, 혁신을 통해 더 쉽게 타고 완벽하게 주행할 수 있습니다.")
  +scooterPageSlider('three', describesThree, "교체를 위해 이동", "줄을 설 필요가 없고, 매연이 없고, 계산을 기다리지 않고, 몇 초 만에 배터리를 교체할 수 있습니다.", true)
  .motors-last
    div
      .motor-link-wrap
        .sub 고고로 S2
        .t1 초월하기 위해 태어났다
        a.link="더 알아보기 >"
        .img(style={"background-image":`url(${require("../../images/scooter/m1.png")})`})
      .motor-link-wrap
        .sub 고고로 S2
        .t1 초월하기 위해 태어났다
        a.link="더 알아보기 >"
        .img(style={"background-image":`url(${require("../../images/scooter/m2.png")})`})
    div
      .motor-link-wrap
        .sub 고고로 2 유틸리티
        .t1 비즈니스를 위한 탁월한 선택
        a.link="더 알아보기 >"
        .img(style={"background-image":`url(${require("../../images/scooter/m3.png")})`})
      .motor-link-wrap
        .sub 고고로 비바 키리스
        .t1 일상 속 작은 주행
        a.link="더 알아보기 >"
        .img(style={"background-image":`url(${require("../../images/scooter/m4.png")})`})

block page-script
  script(type="module" src=require("../../scripts/slider.ts"))