extends ../../includes/layout.pug

block styles
  link(rel="stylesheet" href=require("../../sass/network.scss"))

block contents
  .network-one(style={"background-image":`url(${require("../../images/gogoro-network/1.png")})`})
    .text-box
      .t1 오늘은 더 스마트하고<br/>내일은 더 스마트해집니다.
      .sub Gogoro Network® Smart Battery Swap Platform을 사용하면 <br/>Gogoro Smartscooter®를 더 빠르고 쉽고 \n스마트하게 충전할 수 있습니다.
  .network-two
    div
      .t1 주행을 위한 교체
      .sub 시대에 따라 효율성이 좋아입니다. 기다림에 작별을 고하고 배터리를 교체하세요. 천천히 해도 여전히 빠릅니다!
      img(src=require("../../images/gogoro-network/2.png"))
    div
      .t1 주행을 위한 교체
      .sub 시대에 따라 효율성이 좋아입니다. 기다림에 작별을 고하고 배터리를 교체하세요. 천천히 해도 여전히 빠릅니다!
      img(src=require("../../images/gogoro-network/3.png"))
    div
      .t1 배터리 교환 서비스
      .sub Gogoro Network®에서 가입한 배터리 교체 서비스는 최신일 뿐만 아니라 자동으로 업데이트 됩니다. 당신의 경험은 항상 시대와 기술과 함께 발전할 것입니다. 당신은 더 빠르고, 더 멀리, 더 안전하게 탈 수 있습니다.
      img(src=require("../../images/gogoro-network/4.png"))
  .network-three
    .t1 배터리 기술은 \n계속 업그레이드됩니다.
    .sub Gogoro Network®는 배터리 기술을 점진적으로 업그레이드 했으며, <br/>최신버전의 배터리는 가장 진보된 셀 및 패키징 기술을 사용하여 배터리 전력을 27% 증가시킵니다.
    .describes-wrap
      .describes-row
        div
          img(src=require("../../images/gogoro-network/v1.png"))
          .t1 슈퍼 세이프
          .sub 각 Gogoro Network® 스마트 배터리는 \n견고한<br/>방수 알루미늄 합금 케이스에 들어 있습니다. <br/>\n더 깨끗하고 안전하며 스마트한 방식으로<br/>에너지를 사용하세요.
        div
          img(src=require("../../images/gogoro-network/v2.png"))
          .t1 걱정마세요
          .sub Gogoro Network®를 선택하면 더 이상<br/>주행 효율에 영향을 미치는 \n배터리 감가상각에 대해<br/>걱정하거나, 배터리 유지 보수 및 \n교체 비용을<br/>부담할 필요가 없습니다.
      .describes-row
        div
          img(src=require("../../images/gogoro-network/v3.png"))
          .t1 항상 준비
          .sub 빅 클라우드 데이터를 통해 Gogoro Network®는<br/>에너지 네트워크의 \n모든 배터리를<br/>정확하게 연결할 수 있으므로 배터리를<br/>교체할 때마다 \n가장 전력이 좋고 최상의 상태로<br/>배터리를 얻을 수 있습니다.
        div
          img(src=require("../../images/gogoro-network/v4.png"))
          .t1 더 스마트하게 타기
          .sub Gogoro Network® 스마트 배터리는<br/>Gogoro Smartscooter®와 동기화하고, \n에너지<br/>사용 데이터를 수집하고, 차량 상태를 확인하고, 스마트 전기 \n스쿠터에 대한<br/>크고 작은 모든 것을 쉽게 추적할 수 있도록 합니다.
  .network-four
    .t1 GoStation® 배터리 스왑 스테이션이<br/>Gogoro를 주행을 기다리고 있습니다!
    a.link(href="/go-station")="고스테이션 지도 보기 >"
  img.network-five(src=require("../../images/gogoro-network/b1.png"))