extends ../includes/layout.pug

block styles
  link(rel="stylesheet" href=require("../sass/scooter.scss"))
  
block nav
  +navTheme('black')

block contents
  .main-top 
    .top-text-box
      .t1 고고로 2 플러스
      .h1 도시에서 달리는 즐거움
      .m1 더 알아보기
    .top-box
      img(src=require("../images/main_top.png"))
  .main-two
    div
      img(src=require("../images/top_left.png"))
      .text-box
        .sub 최신 소식
        .t1 부산국제모터쇼 #[br] BIMOS22참가
    div
      img(src=require("../images/top_right.png"))
      .text-box
        .sub 교환 에너지
        .t1 고고로의 에너지 교환
  .main-three(style={"background-image": `url(${require("../images/find_go_station.png")})`})
    div
      .text-box 
        .t1 가까운 고스테이션을 찾아보세요
        .sub 국내에서도 늘어나는 고스테이션
        a.link="고스테이션 지도 보기 >"
  .main-four
    div
      img(src=require("../images/subscribe_gogoro.png"))
      .text-box 
        .t1 고고로의 소식을 받아보세요
        .sub 고고로 카카오톡 친구추가
        a.link="더 알아보기 >"
    div
      img(src=require("../images/new_of_gogoro_acc.png"))
      .text-box 
        .t1 고고로 악세서리 소식
        .sub 내 취향에 맞게 커스텀
        a.link="더 알아보기 >"
  .main-five(style={"background-image": `url(${require("../images/gogoro_motors.png")})`})
    div
      .text-box 
        .t1 고고로 스마트 전기 스쿠터
        .sub 타의 추종을 불허하는 라이딩 경험
        a.link="더 알아보기 >"
  .main-six
    div
      img(src=require("../images/gogoro_app.png"))
      .text-box 
        .t1 고고로 어플리케이션
        .sub 지속적인 최신 스마트 기능을 통해<br/>최적화 된 라이딩을 경험하세요.
        a.link="더 알아보기 >"
    div
      img(src=require("../images/gogoro_smart_battery.png"))
      .text-box 
        .t1 고고로 네트워크 스마트 배터리 교환 플랫폼
        .sub 당신을 위해 더 빠르고, 더 쉽고, 똑똑하게<br/>Gogoro Smartscooter 보조 에너지.
        a.link="더 알아보기 >"
  .main-seven(style={"background-image": `url(${require("../images/gogoro_move_on.png")})`})
    .text-display
      .t1 고고로는 #[br]당신을 위해#[br]계속 전진합니다.
      a.link="비디오 보기 >"
  .main-eight
    div
      .box-header
        .t1 우리는 고고로
      img(src=require("../images/we_are_gogoro.png"))
      .three-flex
        div
          .t1 미래 도시를 위한 솔루션
          .sub 기술과 도시의 발전은 각 제품과 서비스에 적용되어 시간이 지남에 따라 사용자의 경험이 점점 더 발전할 수 있도록 합니다.
        div 
          .t1 더 빨리, 더 쉽게, 더 좋게
          .sub 우리는 도시의 사용자가 전기의 미래에 빠르고 쉽게 도착할 수 있도록 발전된 솔루션을 만들기 위해 최선을 다하고 있습니다.
        div 
          .t1 미래 에너지 공유
          .sub 보다 스마트한 에너지 공급 및 공유는 미래도시의 효율적이고 환경 친화적인 이동성을 위한 우리 아이디어의 핵심입니다.
      a.link="고고로 소개 >"
        
      