extends ../../../includes/layout.pug

block styles
  link(rel="stylesheet", href=require("../../../sass/viva.scss"))

block contents
  .viva-one(style={"background-image":`url(${require("../../../images/scooter/viva/img-viva-kv.png")})`})
  .viva-two
    div
      .t1 고고로 2 시리즈
      a.link 구매문의
  .viva-three
    .text 고고로 VIVA<br/>페더급 스마트 전동 스쿠터<br/><br/>작은 탐험, 대도시 이동<br/>작은 일상, 피어나는 자신감, 큰 삶
  .viva-four(style={"background-image":`url(${require("../../../images/scooter/viva/img-video-placeholder.png")})`})
    a.link
      img(src=require("../../../images/play.svg"))
      div 전체 비디오 보기
  .viva-five(style={"background-image":`url(${require("../../../images/scooter/viva/img-divider-experience-bg.png")})`})
    img(src=require("../../../images/scooter/viva/img-divider-experience-scooter.png"))
    .text-box
      .sub 바로
      .t1 최고
  .viva-six
    .t1 무엇이든 할 수 있을 만큼 작습니다!<br/>그 이상도 그 이하도 아닌 완벽한 균형.
    .grid-box
      div
        .one.img(style={"background-image":`url(${require("../../../images/scooter/viva/img-experience-1.png")})`})
          .text-box
            .sub 깃털처럼 가벼운 스마트 전기 스쿠터
            .t1 과잉은 제쳐두고 가장 좋은 것만<br/>남겨두십시오. 가벼움과 자유를 위한<br/>절대적인 단순함.
      div
        .two.img(style={"background-image":`url(${require("../../../images/scooter/viva/img-experience-2.png")})`})
          .text-box
            .sub 좋은 주행
            .t1 작은 차체와 높은 접지 페달로<br/>가볍게 걸을 수 있고,<br/>단차가 있으면 어디에서나<br/>멈출 수 있습니다.
      div
        .three.img(style={"background-image":`url(${require("../../../images/scooter/viva/img-experience-3.png")})`})
          .text-box
            .sub 작게 생각하다
            .t1 큰 것이 좋나요? 더 극단적으로<br/>작습니다. 복잡함은 이제 그만!<br/>단순하게, 삶을 행복과<br/>기쁨으로 채우세요.
  .viva-seven(style={"background-image":`url(${require("../../../images/scooter/viva/back.png")})`})
    .text-box
      .sub 바로
      .t1 최고
  .viva-eight
    .t1 사람들의 시선을 사로잡는 여정은<br/>아주 훌륭합니다!

block page-script
  script(type="module" src=require("../../../scripts/viva.ts"))